.cube-tab
  padding 0 !important
  height 1rem
  line-height 1rem
  background-color #f0f0f0
  border-radius .08rem
  font-size .28rem
  color #999 !important
  &:nth-child(1)
     margin-right .15rem
  &:nth-child(2)
    margin-left .15rem

.cube-tab_active
  background-color #ffe600
  color #000 !important

.clear-fix
  display flex
  flex-direction row

.cube-upload-file-def
  width 1.4rem !important
  height 1.4rem !important
  margin-right .3rem
.cube-toast .cube-popup-content
  width: auto !important
  max-width 80% !important
  text-align center
.cube-popup-container .cube-toast-tip
  width: 100% !important
  max-width: 100% !important
  height auto
  max-height 80px
  overflow auto
  text-align: center
