/*重置样式*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
}

body {
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
    background-color: #fff;
}

em, i {
    font-style: normal;
}

b, strong, h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

input {
    outline: none;
    border: none;
    box-sizing: border-box;
    text-shadow: none;
    background: none;
    display: inline-block;
    -webkit-appearance: none;
}

/*去掉input number上下箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.el-input--prefix .el-input__inner {
    margin-left: 0 !important;
}

.el-input__inner {
    padding-left: 0 !important;
    font-size: .28rem !important;
}

.el-icon-date:before {
    content: '' !important;
}

input, textarea {
    -webkit-user-modify: read-write-plaintext-only;
}

textarea {
    border: none;
    resize: none;
    outline: none;
    font-family: "Microsoft YaHei UI";
}

.el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 170px !important;
}

input:focus {
    outline: none;
}

input, button {
    outline: none;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.no-data-img {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 3000;
}

input, button, select, textarea {
    outline: none
}

.before-trigger {
    font-size: .28rem !important;
    color: #19191a !important;
}

.el-time-panel__content::after, .el-time-panel__content::before {
    top: 28% !important;
}

.el-time-spinner__list::after, .el-time-spinner__list::before {
    height: 40px !important;
}

.el-time-panel {
    width: 220px !important;
}

.el-time-panel__footer {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
}

.el-input__inner {
    border: none !important;
}

.el-input__icon:after {
    content: '' !important;
}

.el-time-panel__btn.confirm {
    color: #b79961 !important;
}

.cube-switch .cube-switch-ui {
    width: 39px !important;
    height: 20px !important;
}

.cube-switch .cube-switch-ui::after {
    width: 20px !important;
}

/*.cube-switch .cube-switch-input:checked + .cube-switch-ui {*/
    /*border-color: #6FBFEE !important;*/
    /*background-color: #6FBFEE !important;*/
/*}*/

/*.cube-scroll-list-wrapper{*/
/*min-height: 100vh !important;*/
/*}*/
